@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Acme');

body{
    background: linear-gradient(to right, #3389FF, #2E68FC, rgb(74, 22, 196));
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    color: aliceblue;
}

body, header, main, div, img {
    margin: 0;
    padding: 0;
}

/* Header */

.header{
    width: 100%;
    height: 10vh;
}

.header h2{
    position: fixed;
    font-size: 2.5vw;
    margin-left: 4vw;
    margin-top: 6.5vh;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
}

/* Apresentation */

.container-apresentation{
    width: 100%;
    height: 90vh;
}

.image-apresentation {
    background-image: url("../img/ieducar-oficial.png");
    background-position: center;
    background-size: cover;
    width: 17.5vw;
    height: 17.5vw;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 4.5vh;
    overflow: hidden;
}

.title-apresentation {
    margin-top: 2vh;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.text-apresentation {
    width: 45%;
    text-align: center;
    margin: 2vh auto 0 auto;
    font-size: 1.25vw;
    font-family: 'Arbutus Slab', serif;
}

/* Container Cards */

.container-cards{
    height: 100vh;
    background-color: #e2dfdf;
}

.displayFlex{
    width: 80%;
    margin: 0 10%;
    display: flex;
}

.card{
    flex: 1;
    height: 55vh;
    border: solid rgba(74, 22, 196, 0.8) 0.2vw;
    /* background: linear-gradient(to right, rgb(78, 149, 248), rgb(77, 125, 248), rgba(86, 40, 194, 0.8)); */
    background: #ffff;
    color: black;
    margin: 30vh 7.5vw 0 7.5vw;
    padding: 1vw;
    /* box-sizing: border-box; */
    border-radius: 0.75vw;
}

.card a{
    text-decoration: none;
}

.card img{
    width: 10vw;
    height: 10vw;
    display: block;
    margin: 0 auto;
    margin-top: -27.5%;
}

.card h2{
    text-align: center;
    width: 90%;
    font-size: 1.25vw;
    margin: 1vh 5%;
    margin-top: 5vh
}

.card p{
    font-size: 1.05vw;
    text-align: justify;
}

.card button{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 6vh;
    border: none;
    background: linear-gradient(to right, #00E59F, #3077FE);
    color: aliceblue;
    border-radius: 0.5vw;
    font-size: 0.95vw;
}

.card button:hover{
    transform: scale(1.1);
    background: rgb(56, 24, 129);
    color: aliceblue;
    cursor: pointer;
}