body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #ffffff;
    display: flex;
    height: 7.5vh;
    width: 100%;
    position: fixed;
    top: 0;
}

.logo-educar-horizontal {
    width: 7.5vw;
    padding-left: 5vw;
    padding-right: 35vw;
}

.menu {
    display: flex;
    flex-grow: 1;
}

.item-menu {
    flex: 1;
    color: #494af8;
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: bold;
    line-height: 7.5vh;
    text-decoration: none;
    text-align: center;
}

.item-menu:hover {
    color: #ffffff;
    background-color: #494af8;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    height: 92.5vh;
    box-sizing: content-box;
    margin: 7.5vh 0 20vh 0;
    padding: 0;
    background: url(../img/imagem_principal_home.png);
    background-size: cover;
}

.logo-ieducar {
    height: 15vw;
    width: 15vw;
    margin: 10vh auto 1vh auto;
    padding-right: 20vw;
}

.title-introduction {
    height: 0vh;
    width: 75vw;
    margin: 0;
    padding-right: 25vw;
    color: #ffffff;
    font-size: 5.5vw;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.subtitle-introduction {
    height: 0vh;
    width: 75vw;
    margin: 0;
    padding-right: 25vw;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.about-we {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 20vh;
}

.about-we-title {
    margin-bottom: 10vh;
    margin-left: 5vw;
    padding-right: 20vw;
    margin-top: 20vh;
    font-size: 2vw;
    font-weight: normal;
}

.students {
    width: 95vw;
    margin-left: 2.5vw;
    align-content: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.student {
    border-radius: 10px;
    border: solid 3px #445dff;
    width: 16vw;
    border-radius: 0.5vw;
    /* flex: 1; */
    box-sizing: border-box;
    padding: 1vw;
}

.student img {
    border-radius: 0.5vw;
    display: block;
    margin: 0 auto 2vh auto;
    width: 90%;
}

.student h2 {
    margin: 0;
    color: #000000;
    font-size: 1.25vw;
    font-weight: normal;
    text-align: center;
}

.form {
    background-image: linear-gradient(to right, #445dff, #4a55fb, #514bfd, #5348fd, #5843fe, #6639fe);
    display: flex;
    height: 80vh;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 5vh;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
    font-family: sans-serif;
}

.form img {
    height: 65vh;
    margin-top: 18vh;
    margin-left: 5vw;
    border-radius: 0.5vw;
    box-shadow: 9px -7px 10px rgba(63, 63, 63, 0.4);
}

.title-form {
    margin-left: 10vw;
    margin-top: 20vh;
    padding-right: 20vw;
    font-size: 2.5vw;
    font-weight: normal;
}

.text-form {
    margin-left: 15vw;
    margin-right: 5vw;
    font-size: 1.15vw;
    line-height: 4vh;
    text-align: justify;
}

.button-form {
    height: 6vh;
    width: 12vw;
    background: #ffffff00;
    border: solid 2px #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25vw;
    margin-top: 5vh;
    color: #ffffff;
    font-size: 1vw;
    font-weight: bold;
}

.button-form:hover {
    background: #ffffff;
    color: #6639fe;
}

.documents {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0;
    padding: 4vw;
    font-family: sans-serif;
}

.title-documents {
    width: 78vw;
    margin-bottom: 10vh;
    margin-left: 2vw;
    margin-top: 20vh;
    padding-right: 20vw;
    font-size: 2vw;
    font-weight: normal;
}

.document {
    width: 20vw;
    border-radius: 10px;
    border: solid 3px #445dff;
    box-sizing: border-box;
    padding: 1vw;
    margin-bottom: 5vh;
    box-shadow: 2px -2px 20px #445dff4f;
}

.document h2 {
    font-weight: normal;
    font-size: 1.2vw;
    text-align: center;
}

.document p {
    font-size: 1vw;
    height: 20vh;
    text-align: justify;
}

.document button {
    height: 4.5vh;
    width: 8vw;
    background: #ffffff00;
    border: solid 2px #445dff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 1vh auto;
    color: #445dff;
    font-size: 1vw;
    font-weight: bold;
}

.document button:hover {
    background: #445dff;
    color: #ffffff;
}

a {
    text-decoration: none;
}