@media (orientation: portrait) {
    header {
        display: none;
    }

    .logo-ieducar {
        width: 30vh;
        height: 30vh;
        display: block;

        margin: 0 auto;
        margin-top: 10vh;
        padding: 0;
    }

    .title-introduction {
        font-size: 5vh;
        width: 100vw;
        text-align: center;
        padding: 0;
    }

    .subtitle-introduction {
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: 4vw;
    }

    .about-we-title {
        width: 100vw;
        margin: 0;
        margin-bottom: 10vh;
        text-align: center;
        padding: 0;
        font-size: 4vh;
    }

    .students {
        flex-wrap: wrap;
    }

    .student {
        width: 60vw;
        padding: 2vh;
        border-radius: 1vh;
        margin-bottom: 5vh;
    }

    .student h2 {
        font-size: 3vh;
    }

    .form img {
        display: none;
    }

    .title-form {
        margin: 0;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 0;
        text-align: center;
        font-size: 4vh;
    }

    .text-form {
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
        font-size: 2vh;
    }

    .button-form {
        width: 50vw;
        font-size: 2vh;
    }

    .title-documents {
        width: 100vw;
        text-align: center;
        margin: 0;
        margin-bottom: 10vh;
        padding: 0;
        font-size: 4vh;
    }

    .document {
        width: 70vw;
        margin-left: 10vw;
        padding: 2vh;
    }

    .document h2 {
        font-size: 3vh;
    }

    .document p {
        font-size: 2vh;
    }

    .document button {
        width: 50vw;
        font-size: 3vw;
    }
}